body {
  background-color: rgb(133, 82, 60);
  text-align: center;
  color: white;
}


#myCanvas {
  background-image: url("https://i.makeagif.com/media/9-25-2023/8CS1qz.gif");
  background-size: 700px;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

